# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.env.local
.env
.Hans-AI-Doc-Lib/
.github/
.vscode/
city-venture/.env
city-venture-web/.env
city-venture-web/src/services/api.tsx
city-venture/services/api.tsx
.gitignore
city-venture-web/src/services/email/email-template.html
city-venture-web/src/services/email/README.md
backend/dist/
backend/dist/*
backend/dist/**
backend/dist
backend/controller/PermitController.js
city-venture-web/src/assets/images/rotunda.jpg
city-venture-web/.env
