services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    restart: unless-stopped
    command: npm start

  db:
    image: mariadb:10.6
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tourism_db
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build:
      context: ./city-venture-web
      dockerfile: Dockerfile.prod
    container_name: web
    ports:
      - "80:80"
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  db_data:
