.main-layout {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-outlet {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--off-white);
  overflow: scroll;
  overflow-x: hidden;

}

.business-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.auth-layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
}