.main-layout {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
  /* light background */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-outlet {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--background-color);
  overflow: scroll;
  overflow-x: hidden;
}

.business-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.auth-layout {
  width: 100vw;
  height: 100vh;
  /* instead of 100vw */
  background-color: var(--background-color);
  overflow-x: hidden;

  /* light gray */
}